canvas.radar {
    width: 325px !important;
    height: 325px !important;

}

canvas.line {
    width: 100px !important;
    height: 50px !important;

}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  } */

  /* .MuiFab-primary {
    background-color: green !important; 
  } */